/* Writer */
@font-face {
  font-family: Writer;
  src: url("writer-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Writer;
  src: url("writer-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
