/* Georgia */
@font-face {
  font-family: Georgia;
  src: url("georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Georgia;
  src: url("georgia-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Georgia;
  src: url("georgia-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Georgia;
  src: url("georgia-boldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
